<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booko</title>
</head>
<body>
    
    <h1>Add a book</h1>
    <form action="/addItem" method="POST">
        <input type="text" placeholder="book title" name="bookTitle">
        <input type="text" placeholder="book author" name="bookAuthor">
        <!-- <label><input type="checkbox" value="read">Read</label> -->
        <button>Submit</button>
    </form>

    <ul>
        <% for(let i = 0; i < books.length; i++) {%>
        <li>
            <span><%= books[i].bookTitle %></span>
            <span><%= books[i].bookAuthor %></span>
            <span><%= books[i].likes %></span>
            <button class="liked">Like</button>
            <button class="deleted">Delete</button>
        </li>
        <% } %>
    </ul>

    <script src="script.js"></script>
</body>
</html>